@{
    List<ProjetoAlmoco.Application.Models.Categoria> Categorias = (List<ProjetoAlmoco.Application.Models.Categoria>)ViewBag.CriaCategorias;

    var aviso1 = ViewBag.AvisoCategoria;
}
@foreach (var categoria in Categorias)
{
    <div class="categoria">
        <div class="categoria__topo">
            <div class="nomeCategoria"> @categoria.Nom_Categoria </div>
            <div class="botoes">

                <button onclick="DeleteModal('Apagar Categoria?', 'Categoria/Deletar/@categoria.Num_IDCategoria','APAGAR', 'Esta categoria será apagada incluindo todos seus pratos cadastrados')" class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <i class="trash fa fa-trash"></i>
                    </span>
                    <span  class="button-text">Apagar Categoria</span>
                </button>
            </div>
        </div>
        <hr>
        <div class="categoria__baixo">
            <div class="alimentos">
                <ul class="alimentos__ul">

                    @foreach (var alimento in categoria.Alimentos)
                    {
                        var ver = false;
                        if (ViewBag.AlimentosAtivos != null)
                        {
                            var alimentos = ViewBag.AlimentosAtivos;
                            foreach (var alim in alimentos)
                            {
                                if (alim.Num_IDAlimento == alimento.Num_IDAlimento)
                                {
                                    ver = true;
                                }
                            }

                            if (ver)
                            {
                            <li>
                                <input type="checkbox" id='@alimento.Num_IDAlimento.ToString()' checked value="Rainbow Dash">
                                <div class="alimento-redondo">
                                    <label for='@alimento.Num_IDAlimento.ToString()'>@alimento.Nom_Alimento </label>
                                    <i onclick="DeleteModal('Apagar Alimento?', 'Alimento/Deletar/@alimento.Num_IDAlimento','APAGAR', 'O alimento será deletado permanentemente!')" class="icon-deleta fas fa-trash"></i>
                                </div>
                            </li>
                            }
                            else
                            {
                            <li>
                                <input type="checkbox" id='@alimento.Num_IDAlimento.ToString()' value="Rainbow Dash">
                                <div class="alimento-redondo">
                                    <label for='@alimento.Num_IDAlimento.ToString()'>@alimento.Nom_Alimento </label>
                                    <i onclick="DeleteModal('Apagar Alimento?', 'Alimento/Deletar/@alimento.Num_IDAlimento','APAGAR', 'O alimento será deletado permanentemente!')" class="icon-deleta fas fa-trash"></i>
                                </div>
                            </li>
                                ver = false;
                            }
                        }
                        else
                        {
                            <li>
                                <input type="checkbox" id='@alimento.Num_IDAlimento.ToString()' value="Rainbow Dash">
                                <div class="alimento-redondo">
                                    <label for='@alimento.Num_IDAlimento.ToString()'>@alimento.Nom_Alimento </label>
                                    <i onclick="DeleteModal('Apagar Alimento?', 'Alimento/Deletar/@alimento.Num_IDAlimento','APAGAR', 'O alimento será deletado permanentemente!')" class="icon-deleta fas fa-trash"></i>
                                </div>
                            </li>
                        }
                     }
                </ul>
                <button onclick="CadastroModal('Novo Alimento', 'Alimento/Index', 'CADASTRAR', @categoria.Num_IDCategoria)" class="learn-more">
                <span class="circle-add-alimento" aria-hidden="true">
                    <i class=" fa fa-plus"></i>
                </span>
                <span  class="button-text2" >Adicionar alimentos</span>
                </button>
            </div>
        </div>
    </div>
}