<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Img/logo-smn-fav.png" rel="shortcut icon" type="image/x-icon" />
    <title>SMN Almoço</title>
    @Styles.Render("~/Content/Site.css", "~/Content/padrao.css", "~/Content/mobile.css")
</head>
<body>
    @{
        var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();

        if (controller == "Cadastro" || controller == "Login")
        {
            @Styles.Render("~/Content/Login.css", "~/Content/Cadastro.css")
            @*@Scripts.Render("~/bundles/modernizr")*@
        }
        else
        {
            @Styles.Render("~/Content/Admin.css")
            @Scripts.Render(@*"~/bundles/modernizr",*@ "~/Scripts/modal.js", "~/Scripts/insereCardapio.js")
            @Html.Partial("_Topo")
        }
        @Scripts.Render("~/bundles/jquery")
    }
    <div class="fundo-loading">
        <div class="loading">
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
            <div class="object"></div>
        </div>
    </div>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
