@model ProjetoAlmoco.Web.Models.Cliente
@{
    List<ProjetoAlmoco.Web.Models.Cliente> Clientes = (List<ProjetoAlmoco.Web.Models.Cliente>)ViewBag.BuscaClientes;
    string nomeCliente = ViewBag.Cliente;

}
<div id="myBtn" class="conteudo">
    <div class="conteudo__titulo">
        <h1>Montar prato.</h1>
        <label id="label__EscolheCliente" for="clientes">Cliente:</label>
        <select id="clientes" name="clientes">
            @if (nomeCliente == "")
            {
                <option id="clientes__op" value=""></option>
                foreach (var client in Clientes)
                {
                    <option id="clientes__op" value="@client.Usuario">@client.Nome</option>
                }
            }
            else
            {
                foreach (var client in Clientes)
                {
                    if (client.Nome.Equals(nomeCliente))
                    {
                        <option id="clientes__op" value="@client.Usuario">@client.Nome</option>
                    }
                }
                foreach (var client in Clientes)
                {
                    if (!client.Nome.Equals(nomeCliente))
                    {
                        <option id="clientes__op" value="@client.Usuario">@client.Nome</option>
                    }
                }
            }
        </select>

        @Html.Partial("_CardCardapio")
        <input id="liberarCardapio" class="conteudo liberar-cardapio" type="submit" href="login.html" value="ADICIONAR PEDIDO">
    </div>
</div>