@model ProjetoAlmoco.Application.Models.Cliente

@Styles.Render("~/Content/Cadastro.css", "~/Content/Site.css")

<div class="flex">
    <div class="cadastro ">
        <img class="login__logo" src="~/Content/Img/logo-smn.png" alt="logo-smn">
        <div class="cadastro__titulo">
            <h1>Cadastre-se</h1>
        </div>
        <form class="formulario" method="post">
            @Html.ValidationSummary(true, "", new { @class = "texto" })

            <div class="cadastro__form">
                <div class="cadastro__form__Item">
                    @Html.EditorFor(model => model.Nom_Cliente, new { htmlAttributes = new { autocomplete = "off", @class = "cadastro__input", placeholder = "NOME" } })
                    <p>
                        @Html.ValidationMessageFor(model => model.Nom_Cliente, "", new { @class = "texto" })
                    </p>
                </div>

                <div class="cadastro__form__Item">
                    @Html.EditorFor(model => model.Nom_Usuario, new { htmlAttributes = new { @class = "cadastro__input", placeholder = "LOGIN", autocomplete = "off" } })
                    <p>
                        @Html.ValidationMessageFor(model => model.Nom_Usuario, "", new { @class = "texto" })
                    </p>
                </div>

                <div class="cadastro__form__Item">
                    @Html.EditorFor(model => model.Num_Senha, new { htmlAttributes = new { @class = "cadastro__input", placeholder = "SENHA", autocomplete = "off", type = "password" } })
                    <p>
                        @Html.ValidationMessageFor(model => model.Num_Senha, "", new { @class = "texto" })
                    </p>
                </div>

                <div class="cadastro__form__Item">
                    @Html.EditorFor(model => model.ConfirmaSenha, new { htmlAttributes = new { @class = "cadastro__input", placeholder = "CONFIRMA SENHA", autocomplete = "off", type = "password" } })
                    <p>
                        @Html.ValidationMessageFor(model => model.ConfirmaSenha, "", new { @class = "texto" })
                    </p>
                </div>

                <input type="submit" value="CADASTRAR" class="cadastro__link">
                @Html.ActionLink("CANCELAR", "Index", "Login", null, new { @class = "cadastro__link cancelar" })
            </div>
        </form>

    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

